.notFoundPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notFoundPage__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notFoundPage__img {
    max-width: 80%;
    height: auto;
}
